name: Polashot build, push to GCR and update docker-compose

on:
  workflow_call:
    inputs:
      REPO_NAME:
        description: 'Repository name'
        required: true
        type: string
      TAG:
        description: 'Tag name'
        required: true
        type: string
    secrets:
      GCP_SA_KEY:
        description: 'Service account key used to authenticate with Google Cloud'
        required: true
      DEPLOY_SERVER_IP:
        description: 'Server IP address'
        required: true
      SSH_PRIVATE_KEY:
        description: 'SSH private key used to authenticate with the server'
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Auth service account
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1

    - name: Delete huge unnecessary tools folder
      run: rm -rf /opt/hostedtoolcache

    - name: Build and push Docker image
      run: |
        gcloud auth configure-docker
        docker build -t eu.gcr.io/polashot/${{ inputs.REPO_NAME }}:${{ inputs.TAG }} .
        docker push eu.gcr.io/polashot/${{ inputs.REPO_NAME }}:${{ inputs.TAG }}

  update-docker-compose:
    needs: build-and-push
    env:
      IMAGE_TAG: ${{ inputs.TAG }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Modify file
        run: |
          envsubst < docker-compose.yaml > docker-compose-${{ inputs.REPO_NAME }}.yaml

      - name: Configure SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Upload docker composer file to server
        run: |
          scp -o StrictHostKeyChecking=no docker-compose-${{ inputs.REPO_NAME }}.yaml github@${{ secrets.DEPLOY_SERVER_IP }}:/app/docker-compose-${{ inputs.REPO_NAME }}.yaml

      - name: Restart docker-compose service
        run: |
          ssh -o StrictHostKeyChecking=no github@${{ secrets.DEPLOY_SERVER_IP }} "cd /app && sudo docker compose up --detach --no-deps ${{ inputs.REPO_NAME }}"
